/* W3.CSS 2.71 by Jan Egil and Borge Refsnes */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,select,textarea{font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}pre,textarea{overflow:auto}
/* End extract from normalize.css */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.d1-slim,.d1-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.d1-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.d1-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
table,th,td{border:none}.d1-table-all{border:1px solid #ccc}
.d1-bordered tr,.d1-table-all tr{border-bottom:1px solid #ddd}
.d1-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.d1-table-all tr:nth-child(odd){background-color:#fff}
.d1-table-all tr:nth-child(even){background-color:#f1f1f1}
.d1-hoverable tbody tr:hover,.d1-ul.d1-hoverable li:hover{background-color:#ccc}
.d1-centered tr th,.d1-centered tr td{text-align:center}
.d1-table td,.d1-table th,.d1-table-all td,.d1-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
.d1-table th:first-child,.d1-table td:first-child,.d1-table-all th:first-child,.d1-table-all td:first-child{padding-left:16px}
.d1-btn,.d1-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.d1-disabled,.d1-btn:disabled,.d1-btn-floating:disabled,.d1-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.d1-btn.d1-disabled *,.d1-btn-block.d1-disabled,.d1-btn-floating.d1-disabled *,.d1-btn:disabled *,.d1-btn-floating:disabled *{pointer-events:none}
.d1-btn.d1-disabled:hover,.d1-btn-block.d1-disabled:hover,.d1-btn:disabled:hover,.d1-btn-floating.d1-disabled:hover,.d1-btn-floating:disabled:hover,
.d1-btn-floating-large.d1-disabled:hover,.d1-btn-floating-large:disabled:hover{box-shadow:none}
.d1-btn:hover,.d1-btn-block:hover,.d1-btn-floating:hover,.d1-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.d1-btn-block{width:100%}
.d1-btn,.d1-btn-floating,.d1-btn-floating-large,.d1-closenav,.d1-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.d1-btn-floating,.d1-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.d1-btn-floating{width:40px;height:40px;line-height:40px}
.d1-btn-floating-large{width:56px;height:56px;line-height:56px}
.d1-btn-group .d1-btn{float:left}
.d1-btn-bar .d1-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}
.d1-btn-bar .d1-btn:hover{background-color:#ccc}
.d1-ripple{position:relative;overflow:hidden}
.d1-ripple:after{content:"";background:#ccc;position:absolute;padding:300%;bottom:0;left:0;opacity:0;transition:0.8s}
.d1-ripple:active:after{padding:0;opacity:1;transition:0s}
.d1-badge,.d1-tag,.d1-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.d1-badge{border-radius:50%}
ul.d1-ul{list-style-type:none;padding:0;margin:0}
ul.d1-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}
ul.d1-ul li:last-child{border-bottom:none}
.d1-tooltip,.d1-display-container{position:relative}
.d1-fluid{max-width:100%;height:auto}
.d1-tooltip .d1-text{display:none}
.d1-tooltip:hover .d1-text{display:inline-block}
.d1-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.d1-navbar li{float:left}.d1-navbar li a{display:block;padding:8px 16px}.d1-navbar li a:hover{color:#000;background-color:#ccc}
.d1-navbar .d1-dropdown-hover,.d1-navbar .d1-dropdown-click{position:static}
.d1-navbar .d1-dropdown-hover:hover,.d1-navbar .d1-dropdown-hover:first-child,.d1-navbar .d1-dropdown-click:hover{background-color:#ccc;color:#000}
.d1-navbar a,.d1-topnav a,.d1-sidenav a,.d1-dropdown-content a,.d1-accordion-content a,.d1-dropnav a{text-decoration:none!important}
.d1-navbar .d1-opennav.d1-right{float:right!important}.d1-topnav{padding:8px 8px}
.d1-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.d1-topnav a:hover{border-bottom:3px solid #fff}.d1-topnav .d1-dropdown-hover a{border-bottom:0}
.d1-opennav,.d1-closenav{color:inherit}.d1-opennav:hover,.d1-closenav:hover{cursor:pointer;opacity:0.8}
.d1-btn,.d1-btn-floating,.d1-dropnav a,.d1-btn-floating-large,.d1-btn-block,.d1-hover-shadow,.d1-hover-opacity,
.d1-navbar a,.d1-sidenav a,.d1-pagination li a,.d1-hoverable tbody tr,.d1-hoverable li,.d1-accordion-content a,.d1-dropdown-content a,.d1-dropdown-click:hover,.d1-dropdown-hover:hover,.d1-opennav,.d1-closenav,.d1-closebtn,
.d1-hover-amber,.d1-hover-aqua,.d1-hover-blue,.d1-hover-light-blue,.d1-hover-brown,.d1-hover-cyan,.d1-hover-blue-grey,.d1-hover-green,.d1-hover-light-green,.d1-hover-indigo,.d1-hover-khaki,.d1-hover-lime,.d1-hover-orange,.d1-hover-deep-orange,.d1-hover-pink,
.d1-hover-purple,.d1-hover-deep-purple,.d1-hover-red,.d1-hover-sand,.d1-hover-teal,.d1-hover-yellow,.d1-hover-white,.d1-hover-black,.d1-hover-grey,.d1-hover-light-grey,.d1-hover-dark-grey,.d1-hover-text-amber,.d1-hover-text-aqua,.d1-hover-text-blue,.d1-hover-text-light-blue,
.d1-hover-text-brown,.d1-hover-text-cyan,.d1-hover-text-blue-grey,.d1-hover-text-green,.d1-hover-text-light-green,.d1-hover-text-indigo,.d1-hover-text-khaki,.d1-hover-text-lime,.d1-hover-text-orange,.d1-hover-text-deep-orange,.d1-hover-text-pink,.d1-hover-text-purple,
.d1-hover-text-deep-purple,.d1-hover-text-red,.d1-hover-text-sand,.d1-hover-text-teal,.d1-hover-text-yellow,.d1-hover-text-white,.d1-hover-text-black,.d1-hover-text-grey,.d1-hover-text-light-grey,.d1-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.d1-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.d1-sidenav a{padding:4px 2px 4px 16px}.d1-sidenav a:hover{background-color:#ccc}.d1-sidenav a,.d1-dropnav a{display:block}
.d1-sidenav .d1-dropdown-hover:hover,.d1-sidenav .d1-dropdown-hover:first-child,.d1-sidenav .d1-dropdown-click:hover,.d1-dropnav a:hover{background-color:#ccc;color:#000}
.d1-sidenav .d1-dropdown-hover,.d1-sidenav .d1-dropdown-click {width:100%}.d1-sidenav .d1-dropdown-hover .d1-dropdown-content,.d1-sidenav .d1-dropdown-click .d1-dropdown-content{min-width:100%}
.d1-main,#main{transition:margin-left .4s}
.d1-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.d1-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.d1-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.d1-closebtn:hover,.d1-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.d1-pagination{display:inline-block;padding:0;margin:0}.d1-pagination li{display:inline}
.d1-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.d1-pagination li a:hover{background-color:#ccc}
.d1-input-group,.d1-group{margin-top:24px;margin-bottom:24px}
.d1-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.d1-label{color:#009688}.d1-input:not(:valid)~.d1-validate{color:#f44336}
.d1-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.d1-select select:focus{color:#000;border:1px solid #009688}.d1-select option[disabled]{color:#009688}
.d1-dropdown-click,.d1-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.d1-dropdown-hover:hover .d1-dropdown-content{display:block;z-index:1}
.d1-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.d1-dropdown-content a{padding:6px 16px;display:block}
.d1-dropdown-content a:hover{background-color:#ccc}
.d1-accordion {width:100%;cursor:pointer}
.d1-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.d1-accordion-content a{padding:6px 16px;display:block}.d1-accordion-content a:hover{background-color:#ccc}
.d1-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.d1-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].d1-check,input[type=radio].d1-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].d1-check:checked+.d1-validate,input[type=radio].d1-radio:checked+.d1-validate{color:#009688} 
input[type=checkbox].d1-check:disabled+.d1-validate,input[type=radio].d1-radio:disabled+.d1-validate{color:#aaa}
.d1-responsive{overflow-x:auto}
.d1-container:after,.d1-row:after,.d1-row-padding:after,.d1-topnav:after,.d1-clear:after,.d1-btn-group:before,.d1-btn-group:after,.d1-btn-bar:before,.d1-btn-bar:after
{content:"";display:table;clear:both}
.d1-col,.d1-half,.d1-third,.d1-twothird,.d1-threequarter,.d1-quarter{float:left;width:100%}
.d1-col.s1{width:8.33333%}
.d1-col.s2{width:16.66666%}
.d1-col.s3{width:24.99999%}
.d1-col.s4{width:33.33333%}
.d1-col.s5{width:41.66666%}
.d1-col.s6{width:49.99999%}
.d1-col.s7{width:58.33333%}
.d1-col.s8{width:66.66666%}
.d1-col.s9{width:74.99999%}
.d1-col.s10{width:83.33333%}
.d1-col.s11{width:91.66666%}
.d1-col.s12,.d1-half,.d1-third,.d1-twothird,.d1-threequarter,.d1-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.d1-col.m1{width:8.33333%}
.d1-col.m2{width:16.66666%}
.d1-col.m3,.d1-quarter{width:24.99999%}
.d1-col.m4,.d1-third{width:33.33333%}
.d1-col.m5{width:41.66666%}
.d1-col.m6,.d1-half{width:49.99999%}
.d1-col.m7{width:58.33333%}
.d1-col.m8,.d1-twothird{width:66.66666%}
.d1-col.m9,.d1-threequarter{width:74.99999%}
.d1-col.m10{width:83.33333%}
.d1-col.m11{width:91.66666%}
.d1-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.d1-col.l1{width:8.33333%}
.d1-col.l2{width:16.66666%}
.d1-col.l3,.d1-quarter{width:24.99999%}
.d1-col.l4,.d1-third{width:33.33333%}
.d1-col.l5{width:41.66666%}
.d1-col.l6,.d1-half{width:49.99999%}
.d1-col.l7{width:58.33333%}
.d1-col.l8,.d1-twothird{width:66.66666%}
.d1-col.l9,.d1-threequarter{width:74.99999%}
.d1-col.l10{width:83.33333%}
.d1-col.l11{width:91.66666%}
.d1-col.l12{width:99.99999%}}
.d1-content{max-width:980px;margin:auto}
.d1-rest{overflow:hidden}
.d1-hide{display:none!important}.d1-show-block,.d1-show{display:block!important}.d1-show-inline-block{display:inline-block!important}
@media (max-width:600px){.d1-modal-content{margin:0 10px;width:auto!important}.d1-modal{padding-top:30px}}
@media (max-width:768px){.d1-modal-content{width:500px}.d1-modal{padding-top:50px}}
@media (min-width:993px){.d1-modal-content{width:900px}}
@media screen and (max-width:600px){.d1-topnav a{display:block}.d1-navbar li:not(.d1-opennav){float:none;width:100%!important}.d1-navbar li.d1-right{float:none!important}}	
@media screen and (max-width:600px){.d1-topnav .d1-dropdown-hover .d1-dropdown-content,.d1-navbar .d1-dropdown-click .d1-dropdown-content,.d1-navbar .d1-dropdown-hover .d1-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.d1-topnav,.d1-navbar{text-align:center}}
@media (max-width:600px){.d1-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.d1-hide-medium{display:none!important}}
@media (min-width:993px){.d1-hide-large{display:none!important}}
@media screen and (max-width:992px){.d1-sidenav.d1-collapse{display:none}.d1-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.d1-sidenav.d1-collapse{display:block!important}}
.d1-top,.d1-bottom{position:fixed;width:100%;z-index:1}.d1-top{top:0}.d1-bottom{bottom:0}
.d1-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.d1-left{float:left!important}.d1-right{float:right!important}
.d1-tiny{font-size:10px!important}.d1-small{font-size:12px!important}
.d1-medium{font-size:15px!important}.d1-large{font-size:18px!important}
.d1-xlarge{font-size:24px!important}.d1-xxlarge{font-size:36px!important}
.d1-xxxlarge{font-size:48px!important}.d1-jumbo{font-size:64px!important}
.d1-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.d1-left-align{text-align:left!important}.d1-right-align{text-align:right!important}
.d1-justify{text-align:justify!important}.d1-center{text-align:center!important}
.d1-display-topleft{position:absolute;left:0;top:0}.d1-display-topright{position:absolute;right:0;top:0}
.d1-display-bottomleft{position:absolute;left:0;bottom:0}.d1-display-bottomright{position:absolute;right:0;bottom:0}
.d1-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.d1-display-topmiddle{position:absolute;left:0;top:0;width:100%;text-align:center}.d1-display-bottommiddle{position:absolute;left:0;bottom:0;width:100%;text-align:center}
.d1-circle{border-radius:50%!important}
.d1-round-small{border-radius:2px!important}.d1-round,.d1-round-medium{border-radius:4px!important}
.d1-round-large{border-radius:8px!important}.d1-round-xlarge{border-radius:16px!important}
.d1-round-xxlarge{border-radius:32px!important}.d1-round-jumbo{border-radius:64px!important}
.d1-border-0{border:0!important}
.d1-border{border:1px solid #ccc!important}
.d1-border-top{border-top:1px solid #ccc!important}.d1-border-bottom{border-bottom:1px solid #ccc!important}
.d1-border-left{border-left:1px solid #ccc!important}.d1-border-right{border-right:1px solid #ccc!important}
.d1-margin{margin:16px!important}.d1-margin-0{margin:0!important}
.d1-margin-top{margin-top:16px!important}.d1-margin-bottom{margin-bottom:16px!important}
.d1-margin-left{margin-left:16px!important}.d1-margin-right{margin-right:16px!important}
.d1-section{margin-top:16px!important;margin-bottom:16px!important}
.d1-padding-tiny{padding:2px 4px!important}.d1-padding-small{padding:4px 8px!important}
.d1-padding-medium,.d1-padding,.d1-form{padding:8px 16px!important}
.d1-padding-large{padding:12px 24px!important}.d1-padding-xlarge{padding:16px 32px!important}
.d1-padding-xxlarge{padding:24px 48px!important}.d1-padding-jumbo{padding:32px 64px!important}
.d1-padding-4,.d1-padding-hor-4{padding-top:4px!important;padding-bottom:4px!important}
.d1-padding-8,.d1-padding-hor-8{padding-top:8px!important;padding-bottom:8px!important}
.d1-padding-12,.d1-padding-hor-12{padding-top:12px!important;padding-bottom:12px!important}
.d1-padding-16,.d1-padding-hor-16{padding-top:16px!important;padding-bottom:16px!important}
.d1-padding-24,.d1-padding-hor-24{padding-top:24px!important;padding-bottom:24px!important}
.d1-padding-32,.d1-padding-hor-32{padding-top:32px!important;padding-bottom:32px!important}
.d1-padding-48,.d1-padding-hor-48{padding-top:48px!important;padding-bottom:48px!important}
.d1-padding-64,.d1-padding-hor-64{padding-top:64px!important;padding-bottom:64px!important}
.d1-padding-128,.d1-padding-hor-128{padding-top:128px!important;padding-bottom:128px!important}
.d1-padding-0{padding:0!important}
.d1-padding-top{padding-top:8px!important}.d1-padding-bottom{padding-bottom:8px!important}
.d1-padding-left{padding-left:16px!important}.d1-padding-right{padding-right:16px!important}
.d1-topbar{border-top:6px solid #ccc!important}.d1-bottombar{border-bottom:6px solid #ccc!important}
.d1-leftbar{border-left:6px solid #ccc!important}.d1-rightbar{border-right:6px solid #ccc!important}
.d1-row-padding,.d1-row-padding>.d1-half,.d1-row-padding>.d1-third,.d1-row-padding>.d1-twothird,.d1-row-padding>.d1-threequarter,.d1-row-padding>,.d1-quarter,.d1-row-padding>.d1-col{padding:0 8px}
.d1-spin{animation:d1-spin 2s infinite linear;-webkit-animation:d1-spin 2s infinite linear}
@-webkit-keyframes d1-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes d1-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.d1-container{padding:0.01em 16px}
.d1-example{background-color:#f1f1f1;padding:0.01em 16px}
.d1-code{font-family:Consolas,"courier new";font-size:16px;line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #009688;word-wrap:break-word}
.d1-example,.d1-code,.d1-reference{margin:20px 0}
.d1-card{border:1px solid #ccc}
.d1-card-2,.d1-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.d1-card-4,.d1-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.d1-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.d1-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.d1-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.d1-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.d1-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.d1-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.d1-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.d1-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.d1-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.d1-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.d1-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.d1-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.d1-transparent{background-color:transparent!important}
.d1-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
.d1-amber,.d1-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.d1-aqua,.d1-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.d1-blue,.d1-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.d1-light-blue,.d1-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.d1-brown,.d1-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.d1-cyan,.d1-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.d1-blue-grey,.d1-hover-blue-grey:hover{color:#fff!important;background-color:#607d8b!important}
.d1-green,.d1-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.d1-light-green,.d1-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.d1-indigo,.d1-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.d1-khaki,.d1-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.d1-lime,.d1-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.d1-orange,.d1-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.d1-deep-orange,.d1-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.d1-pink,.d1-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.d1-purple,.d1-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.d1-deep-purple,.d1-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.d1-red,.d1-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.d1-sand,.d1-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.d1-teal,.d1-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.d1-yellow,.d1-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.d1-white,.d1-hover-white:hover{color:#000!important;background-color:#fff!important}
.d1-black,.d1-hover-black:hover{color:#fff!important;background-color:#000!important}
.d1-grey,.d1-hover-grey:hover{color:#000!important;background-color:#9e9e9e!important}
.d1-light-grey,.d1-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.d1-dark-grey,.d1-hover-dark-grey:hover{color:#fff!important;background-color:#616161!important}
.d1-pale-red,.d1-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.d1-pale-green,.d1-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.d1-pale-yellow,.d1-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.d1-pale-blue,.d1-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.d1-text-amber,.d1-hover-text-amber:hover{color:#ffc107!important}
.d1-text-aqua,.d1-hover-text-aqua:hover{color:#00ffff!important}
.d1-text-blue,.d1-hover-text-blue:hover{color:#2196F3!important}
.d1-text-light-blue,.d1-hover-text-light-blue:hover{color:#87CEEB!important}
.d1-text-brown,.d1-hover-text-brown:hover{color:#795548!important}
.d1-text-cyan,.d1-hover-text-cyan:hover{color:#00bcd4!important}
.d1-text-blue-grey,.d1-hover-text-blue-grey:hover{color:#607d8b!important}
.d1-text-green,.d1-hover-text-green:hover{color:#4CAF50!important}
.d1-text-light-green,.d1-hover-text-light-green:hover{color:#8bc34a!important}
.d1-text-indigo,.d1-hover-text-indigo:hover{color:#3f51b5!important}
.d1-text-khaki,.d1-hover-text-khaki:hover{color:#b4aa50!important}
.d1-text-lime,.d1-hover-text-lime:hover{color:#cddc39!important}
.d1-text-orange,.d1-hover-text-orange:hover{color:#ff9800!important}
.d1-text-deep-orange,.d1-hover-text-deep-orange:hover{color:#ff5722!important}
.d1-text-pink,.d1-hover-text-pink:hover{color:#e91e63!important}
.d1-text-purple,.d1-hover-text-purple:hover{color:#9c27b0!important}
.d1-text-deep-purple,.d1-hover-text-deep-purple:hover{color:#673ab7!important}
.d1-text-red,.d1-hover-text-red:hover{color:#f44336!important}
.d1-text-sand,.d1-hover-text-sand:hover{color:#fdf5e6!important}
.d1-text-teal,.d1-hover-text-teal:hover{color:#009688!important}
.d1-text-yellow,.d1-hover-text-yellow:hover{color:#d2be0e!important}
.d1-text-white,.d1-hover-text-white:hover{color:#fff!important}
.d1-text-black,.d1-hover-text-black:hover{color:#000!important}
.d1-text-grey,.d1-hover-text-grey:hover{color:#757575!important}
.d1-text-light-grey,.d1-hover-text-light-grey:hover{color:#f1f1f1!important}
.d1-text-dark-grey,.d1-hover-text-dark-grey:hover{color:#3a3a3a!important}
.d1-border-amber,.d1-hover-border-amber:hover{border-color:#ffc107!important}
.d1-border-aqua,.d1-hover-border-aqua:hover{border-color:#00ffff!important}
.d1-border-blue,.d1-hover-border-blue:hover{border-color:#2196F3!important}
.d1-border-light-blue,.d1-hover-border-light-blue:hover{border-color:#87CEEB!important}
.d1-border-brown,.d1-hover-border-brown:hover{border-color:#795548!important}
.d1-border-cyan,.d1-hover-border-cyan:hover{border-color:#00bcd4!important}
.d1-border-blue-grey,.d1-hover-blue-grey:hover{border-color:#607d8b!important}
.d1-border-green,.d1-hover-border-green:hover{border-color:#4CAF50!important}
.d1-border-light-green,.d1-hover-border-light-green:hover{border-color:#8bc34a!important}
.d1-border-indigo,.d1-hover-border-indigo:hover{border-color:#3f51b5!important}
.d1-border-khaki,.d1-hover-border-khaki:hover{border-color:#f0e68c!important}
.d1-border-lime,.d1-hover-border-lime:hover{border-color:#cddc39!important}
.d1-border-orange,.d1-hover-border-orange:hover{border-color:#ff9800!important}
.d1-border-deep-orange,.d1-hover-border-deep-orange:hover{border-color:#ff5722!important}
.d1-border-pink,.d1-hover-border-pink:hover{border-color:#e91e63!important}
.d1-border-purple,.d1-hover-border-purple:hover{border-color:#9c27b0!important}
.d1-border-deep-purple,.d1-hover-border-deep-purple:hover{border-color:#673ab7!important}
.d1-border-red,.d1-hover-border-red:hover{border-color:#f44336!important}
.d1-border-sand,.d1-hover-border-sand:hover{border-color:#fdf5e6!important}
.d1-border-teal,.d1-hover-border-teal:hover{border-color:#009688!important}
.d1-border-yellow,.d1-hover-border-yellow:hover{border-color:#ffeb3b!important}
.d1-border-white,.d1-hover-border-white:hover{border-color:#fff!important}
.d1-border-black,.d1-hover-border-black:hover{border-color:#000!important}
.d1-border-grey,.d1-hover-border-grey:hover{border-color:#9e9e9e!important}
.d1-border-light-grey,.d1-hover-border-light-grey:hover{border-color:#f1f1f1!important}
.d1-border-dark-grey,.d1-hover-border-dark-grey:hover{border-color:#616161!important}
.d1-border-pale-red,.d1-hover-border-pale-red:hover{border-color:#ffe7e7!important}.d1-border-pale-green,.d1-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.d1-border-pale-yellow,.d1-hover-border-pale-yellow:hover{border-color:#ffffd7!important}.d1-border-pale-blue,.d1-hover-border-pale-blue:hover{border-color:#e7ffff!important}
.d1-opacity,.d1-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60)}
.d1-text-shadow{text-shadow:1px 1px 0 #444}.d1-text-shadow-white{text-shadow:1px 1px 0 #ddd}